<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Theme colors
    </div>
    <div class="card-body">

    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Grays
    </div>
    <div class="card-body">

    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> Additional colors
    </div>
    <div class="card-body">
      
    </div>
  </div>
</div>
